<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
  <h1>Questions#ask</h1>
  <p>Find me in app/views/questions/ask.html.erb</p>
  <p>Ask your coach for anything you want:</p>
  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="What is your question?" class="form-group">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </form>
</div>

