// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  background-color: #f4f4f4;
  border: solid 1px black;
  border-radius: 10px;
}

.questionAnswer {
  color: #888585;
  font-size: bold;
}

.from {
  color: #bab9b9;
}
